body {
    // color: $color-grey-dark;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    font-weight: 400;
}

.heading {
    &__primary {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 6rem;
        &--main {
            display: block;
            font-size: 6rem;
            letter-spacing: 1.5rem;
            font-weight: 400;
        }
        &--sub {
            display: block;
            font-size: 2rem;
            letter-spacing: 1.75rem;
            font-weight: 700;
        }
    }

    &__secondary {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }

}